// Theme fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.btn:focus,
a:focus,
button:focus {
  box-shadow: none !important;
}
.logo {
  &.navbar-brand {
    font-size: inherit;
    font-weight: 700;
  }
  width: 60px;
  &:hover {
    text-decoration: none;
    color: darken($theme-color, 5);
  }
}
.navbar-light .navbar-toggler {
  border: 0;
  color: $body-color;
  transform: scale(1.25);
}
