/* --- Box Shadow --- */
// -- Placeholder -- box shadow default
%box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
%box-shadow-hover { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
	transition: box-shadow .5s ease;
	&:hover {
		box-shadow: .15rem .25rem .75rem rgba(0, 0, 0, .10); 
	}
}
// -- Placeholder -- box shadow dark
%box-shadow-dark {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .25);
}
// -- Placeholder -- box shadow image
%box-shadow-img {
	box-shadow: 5px 5px 0 #EDEDED;
}
/* --- Shadow --- */
%shadow-md {
	box-shadow: 0 2px 10px 0 rgba(191, 191, 191, 0.5) !important;
	&:hover {
		box-shadow: 0 .10rem 20px rgba(0, 0, 0, .075) !important;    
	}
}
%shadow-md-dark {
	box-shadow: 0 .175rem .92rem rgba(0, 0, 0, .45) !important;
	&:hover {
		box-shadow: 0 .375rem 1.2rem rgba(0, 0, 0, .65) !important;    
	}
}
// Default text transform
%capitalize { text-transform: capitalize; }
%uppercase { text-transform: uppercase; }
%lowercase { text-transform: lowercase; }