// Theme
.theme-color {
  color: $theme-color !important;
}

// --------- Line Height
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

// --------- Text Utility
.text-white-50 { color: rgba(255, 255, 255, .5); }
.text-shadow-black { text-shadow: 1px 1px 1px rgba(0,0,0,0.75); }
.text-shadow-white { text-shadow: 1px 1px 1px rgba(255,255,255,0.75); }

// --------- Text Sizes
$font-size-xl:                ($font-size-base * 1.55) !default;
$font-size-xs:                ($font-size-base * .475) !default;
.text-xs { font-size: $font-size-xs;}
.text-sm { font-size: $font-size-sm; }
.text-md { font-size: $font-size-md; }
.text-lg { font-size: $font-size-lg; }
.text-xl { font-size: $font-size-sm; }

// --------- Text Transform
.uppercase {
	@extend %uppercase;
}
.lowercase {
	@extend %lowercase;
}
.capitalize {
	@extend %capitalize;
}

// --------- Bg / Box / Shadow / Border utility
.box-shadow { 
	@extend %box-shadow; 
}
.box-shadow-dark {
	@extend %box-shadow-dark;
}
.box-shadow-img {
	@extend %box-shadow-img;
}
.box-shadow-0 {
	box-shadow: none;
}
.shadow-md {
    @extend %shadow-md;
}
.border-bottom { 
	border-bottom: 1px solid #e5e5e5; 
}

/* --- Icons --- */
.icon-rounded-circle, .icon-rounded-circle .fab{
	border-radius: 50%;
}
