.card {
  margin-bottom: 1rem;
  &-news {
    position: relative;
    overflow: hidden;
    margin: 1rem auto 2.75rem auto;
    flex-basis: 100%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    z-index: 1;
    background-color: $light;
    border-radius: 8px;
    min-width: 270px;
    overflow: visible;
    @extend %shadow-md;
  }
  &-avatar {
    margin-bottom: 0.5rem;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    /* background-color: $light; */
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
