.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(12px + 2vmin);
  vertical-align: middle;
}
.App-header button {
  margin-left: 2rem;
  vertical-align: middle;
}

.App-body {
  height: 90vh;
  overflow: auto;
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-link-logo {
  text-decoration: none;
}

.App-link-logo span {
  color: #222a41;
}

.App-search {
  padding: 0.25rem 0.15rem 0rem 0.15rem;
  margin: 0 auto;
  display: block;
}

.App-search span {
  margin-right: 1rem;
}

.App-footer {
  background-color: #ffc700;
  margin: auto;
  padding: 0.88rem 0rem 0.88rem 0rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
